
.conteinter {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.data {
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 20px 20px;
    grid-template-columns: 240px 240px;
    width: 40%;
}

.card {
    display: flex;
    border: 1px solid white;
    width: 40%;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.itemOne {
    grid-column-start: 1; 
    grid-column-end: 3;
    font-size: 2.5rem;
}

.title {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: rgba(24, 45, 68, 0.7);
    border: 2px solid #2E4055; 
    height: 6rem;
    width: 15rem;
    color: #66D8F2;
}

.span {
    color: white;
    padding-top: 5px
}

.itemLast {
    background-color: rgba(24, 45, 68, 0.7);
    border-radius: 10px;
    border: 2px solid #2E4055; 
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    grid-column-end: 3;
    grid-column-start: 1; 
    height: auto;
    padding: 1rem;
    text-decoration: none;
    color: #66D8F2;
}

.itemLi {
    display: grid;
    grid-template-columns: 240px 240px;
    padding-top: 10px;
    gap: 3px;
    color: white;
}

.flag {
    /* margin-bottom: 50px; */
    border: 1px solid white;
    border-radius: 15px;
}
.flag img {
    border-radius: 15px;
}

.activities {
    background-color: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid white;
    width: 20%;
    height: 50%;
    /* margin: auto; */
    border-radius: 8px;
    color: white;
    font-size: 1.5rem;
    padding: 30px;
    overflow-y: scroll;
}
.activities ul {
    list-style: none;
}