.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 6rem;
    padding: 0.5rem;
    width: 1300px;
}

.home{
    display: flex;
    gap: 1rem;
}

.home a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem
}