.nav {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 6rem;
    flex-wrap: wrap;
}

.home{
    display: flex;
    gap: 1rem;
}

.home a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem
}