.container{ 
    background: rgba(24, 45, 68, 0.9);
    /* background: #182D44; */
    border: 2px solid #2E4055; 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 17px 0px 22px 0px;
    align-items: center;
    width: 15rem;
    height: 20rem;
    transition: 0.6s;
}
.container:hover{
    background: rgba(24, 45, 68, 0.7);
    transition: 0.6s;
}

.infoContainer{
    width: 80%;
    height: 8rem;
    background: rgba(18, 33, 52, 0.4);
    /* background-color: #122134; */
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    object-fit: contain;
}

.img{
    max-width: 90%;
    height: 90%;
}

.description{
    width: 80%;
    /* background: red; */
    height: 4.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #63A66D;
    padding: 5px;
}

/* .description > p {
    filter: drop-shadow(0 0 0.75rem black);
} */

.description p:first-child {
    color: #66D8F2;
    font-size: 1.2rem;
}

.button {
    width: 80%;
    height: 2.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(39, 58, 80, 0.8); */
    /* background-color: #263A50; */
    background-color: #2d455e;
    border: 2px solid #2E4055;
    color: white;
    transition: 0.6s;
}
.button:hover {
    /* border: 2px solid rgba(255, 255, 255, 0.7); */
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.6s;
}