.searchConten {
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1.2rem
}
.form {
  display: flex;
  gap: 5px;
  position: relative;
}

.search {
  background: transparent;
  border: 1px solid #363243;
  border-radius: 7px;
  width: 18rem;
  height: 2.4rem;
  padding: 5px 33px;
  font-size: 0.9rem;
  color: white;
}
.search:hover {
  border: 1px solid #817E8E;
}

.search::placeholder {
  color: #666666;
}

.magnifyingGlass {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  width: 1.3rem;
}

.button {
  width: 4rem;
  height: 2.3rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgba(39, 58, 80, 0.8); */
  /* background-color: #263A50; */
  background-color: #2d455e;
  border: 2px solid #2E4055;
  color: white;
  transition: 0.6s;
  cursor: pointer;
}

.buttonSign {
  align-items: center;
  /* background: linear-gradient(180deg,hsla(0,0%,100%,.048),hsla(0,0%,100%,.078)); */
  background: linear-gradient(180deg,rgba(87,247,47,.6),rgba(12,176,167,.6));
  border-radius: 5px;
  /* box-shadow: inset 0 -3px 4px hsla(0,0%,100%,.04), inset 0 3px 3px hsla(0,0%,100%,.04); */
  box-shadow: 0 26.2667px 52.5333px rgba(21,41,19,.3345), inset 0 -4px 6px rgba(23,202,95,.57), inset 0 4px 4px #2bce6d;
  color: white;
  display: flex;
  justify-content: center;
  width: auto;
  padding: 0px 0.8rem;
  transition: 0.6s;
}
.buttonSign:hover {
  /* background: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.17)),to(hsla(0,0%,100%,.33))); */
  background: linear-gradient(180deg,rgba(87,247,47,.8),rgba(12,176,167,.8));
  /* box-shadow: inset 0 -3px 6px hsla(0,0%,100%,.24), inset 0 3px 6px hsla(0,0%,100%,.24);
   */
  box-shadow: 0 26.2667px 52.5333px rgba(21,41,19,.3345), inset 0 -4px 6px rgba(33,232,113,.97), inset 0 4px 4px rgba(134,255,77,.78);
  transition: 0.6s;
}