.container {
  display: flex;
  gap: 8px;
}
.buttons {
  background: rgba(24, 45, 68, 0.9);
  color: white;
  border: none;
  width: 4rem;
  border-radius: 5px;
  cursor: pointer;
}
.buttons:hover{
  background: rgba(24, 45, 68, 0.7);
  transition: 0.6s;
}
.numbers {
  /* background: #182D44; */
  background: rgba(24, 45, 68, 0.9);
  width: 2rem;
  height: 2rem;
  border: none;
  margin: 2px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.numbers:hover{
  background: rgba(24, 45, 68, 0.7);
  transition: 0.6s;
}