.conteiner {
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    justify-items: center;
    max-width: 84%;
    /* min-height: 460px; */
    min-height: 490px;
}
@media (height >= 931px) {
    .conteiner {
        min-height: 642px;
    }
  }