.conteiner {
    max-width: 1300px;
    min-height: 500px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    gap: 33px 50px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}