.conteiner {
    max-width: 84%;
    display: grid;
    gap: 2rem;
    grid-auto-flow: dense;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}