.background {
  background-image: url("../assets/volkmer.webp");
  /* background-position: center;
  background-repeat: no-repeat; */
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: white;
}

.content {
  padding-top: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
