.background {
    background-image: url("../../assets/volkmer.webp");
    /* background-position: center;
    background-repeat: no-repeat; */
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

.conteiner {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.paginado {
    display: flex;
    justify-content: center;
    align-self: center;
}

.conteinerCards {
    padding: 2.3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}